<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleurMain</servlet-name>
        <servlet-class>controleurs.ControleurMain</servlet-class>
        <init-param>
            <param-name>creer</param-name>
            <param-value>controleurs.secondaires.PageInsertionBDD</param-value>
        </init-param>
        <init-param>
            <param-name>authentification</param-name>
            <param-value>controleurs.secondaires.ControleurAuthentification</param-value>
        </init-param>
        <init-param>
            <param-name>logOut</param-name>
            <param-value>controleurs.secondaires.ControleurLogOut</param-value>
        </init-param>
        <init-param>
            <param-name>serveur</param-name>
            <param-value>controleurs.secondaires.ControleurServeur</param-value>
        </init-param>
        <!--///////////////////////Omar/////////////////////////////////////////-->
        <init-param>
            <param-name>interfaceClient</param-name>
            <param-value>controleurs.secondaires.InterfaceClientAffichage</param-value>
        </init-param>
        <!--/////////////////////////////////////////////////////////////////-->
        <init-param>
            <param-name>panier</param-name>
            <param-value>controleurs.secondaires.ControleurPanier</param-value>
        </init-param>
        <!---///////////////////////Yoannnnnnnnnnnnnnn///////////////////////-->
        <init-param>
            <param-name>caisse</param-name>
            <param-value>controleurs.secondaires.CaisseIhm</param-value>
        </init-param>
        <init-param>
            <param-name>paiement</param-name>
            <param-value>controleurs.secondaires.Paiements</param-value>
        </init-param>
        <init-param>
            <param-name>repartir</param-name>
            <param-value>controleurs.secondaires.AjaxRepartition</param-value>
        </init-param>
        <!--//////////////////////////////////////////////////////////////////-->
        <init-param>
            <param-name>serveurfetah</param-name>
            <param-value>controleurs.secondaires.InterfaceServeur</param-value>
        </init-param>
        <init-param>
            <param-name>cuisinier</param-name>
            <param-value>controleurs.secondaires.InterfaceCuisinier</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurMain</servlet-name>
        <url-pattern>/ControleurMain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>GestionAuthentification</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionAuthentificationLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionAuthentification</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TestBDD</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.TestBDDLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#TestBDD</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionEmplacement</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionEmplacementLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionEmplacement</ejb-link>
    </ejb-local-ref>
    <!--Omarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr-->
    <ejb-local-ref>
        <ejb-ref-name>GestionAffichageClient</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionAffichageClientLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionAffichageClient</ejb-link>
    </ejb-local-ref>
    <!--zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz-->
    <!-- <ejb-local-ref>
        <ejb-ref-name>GestionPanier</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionPanierLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionPanier</ejb-link>
    </ejb-local-ref>-->
    <!--zzzzzzzzzzzzzzzzzzzzzzzTEST de GestionPanierLocal Dans controleurPanier : A supprimer Azzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz-->
    <ejb-local-ref>
        <ejb-ref-name>GestionPanier1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionPanierLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionPanier</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCaisse</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionCaisseLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionCaisse</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCaisse1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionCaisseLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionCaisse</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCaisse2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionCaisseLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionCaisse</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>GestionCaisse3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionCaisseLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionCaisse</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>GestionAffichageCuisinier</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionAffichageCuisinierLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionAffichageCuisinier</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionAffichageServeur</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.cookcamp.metier.GestionAffichageServeurLocal</local>
        <ejb-link>cookCamp-v02-ejb.jar#GestionAffichageServeur</ejb-link>
    </ejb-local-ref>
    
</web-app>
